<div *ngIf="veganRecipes$ | async as veganRecipes; else spinner" class="d-flex flex-wrap justify-content-center">
  <app-recipe-card *ngFor="let recipe of veganRecipes.results" [recipeData]="recipe" [baseUri]="veganRecipes.baseUri"></app-recipe-card>
  <div [ngClass]="{'invisible': hideShowMoreVisiblity}" class="d-flex justify-content-center">
    <button class="mb-3 btn btn-light" (click)="getMoreRecipes()">Show More</button>
  </div>
</div>
<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center h-100">
    <i class="fas fa-spinner" style="color: white !important;"></i>
  </div>
</ng-template>