article:hover {
    position: relative;
    top: -2px;
    left: -2px;
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 50%;
}

@media screen and (max-width: 550px) {
    article {
        width: 60vw;
    }
    img {
        height: 60vw;
        object-fit: cover;
        object-position: center;
    }
    p {
        font-size: 4vw !important;
    }
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
    article {
        width: 25vw;
    }
    img {
        height: 25vw;
        object-fit: cover;
        object-position: center;
    }
    p {
        font-size: 1.5vw !important;
    }
}

@media screen and (min-width: 1000px) {
    article {
        width: 15vw;
    }
    img {
        height: 15vw;
        object-fit: cover;
        object-position: center;
    }
    p {
        font-size: 0.8vw !important;
    }
}