article:hover {
    position: relative;
    top: -2px;
    left: -2px;
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    transition: ease 1s;
}

#image-frame {
    overflow: hidden;
}

article:hover > a > div > img {
    transition: ease 4s;
    transform: scale(1.2);
}

@media screen and (max-width: 550px) {
    article {
        width: 20vw;
    }
    img {
        height: 20vw;
        object-fit: cover;
        object-position: center;
    }
    p {
        font-size: 2vw !important;
        margin: 0 !important;
    }
    .card-body {
        padding: 0.25rem !important;
    }
    .m-3 {
        margin: 0.5rem !important;
    }
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
    article {
        width: 25vw;
    }
    img {
        height: 25vw;
        object-fit: cover;
        object-position: center;
    }
    p {
        font-size: 1.5vw !important;
    }
}

@media screen and (min-width: 1000px) {
    article {
        width: 15vw;
    }
    img {
        height: 15vw;
        object-fit: cover;
        object-position: center;
    }
    p {
        font-size: 0.8vw !important;
    }
}
  