<div class="flex-grow-1">
  <div class="d-flex flex-column justify-content-center align-items-start" id="banner">
    <div class="m-4 text-light">
      <h3>Vegan Recipes</h3>
      <p>Lots of great recipes with images and detailed instructions.</p>
      <a class="btn btn-light" routerLink="/recipes">Go To Recipes</a>
    </div>
    <div style="overflow: hidden;" class="d-flex justify-content-start m-4 p-1 bg-light rounded">
      <img src="../../../assets/Images/landing_one.jpg" id="img-one" alt="vegan dish"
            class="img-fluid" [appSwapImageOnHover]="'../../../assets/Images/landing_hover.jpg'">
      <img src="../../../assets/Images/landing_two.jpg" id="img-two" alt="vegan dish"
            class="img-fluid" [appSwapImageOnHover]="'../../../assets/Images/landing_hover.jpg'">
      <img src="../../../assets/Images/landing_three.jpg" id="img-three" alt="vegan dish" 
            class="img-fluid" [appSwapImageOnHover]="'../../../assets/Images/landing_hover.jpg'">
    </div>
  </div>
</div>
<img id="background-image" src="../../../assets/Images/landing_image.jpg" alt="food">
<div id="background-svg"></div>