#main-div {
    height: 100%;
}

#background-image{
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    margin: 0;
    -webkit-animation: kenburns-bottom-right 5s ease-out both;
	        animation: kenburns-bottom-right 5s ease-out both;
}