* {
    --my-margin: 1vw;
    --my-sizeOuter: 4vw;
    --my-sizeInner: 3vw;
    --my-sizeSmallest: 2vw;
}

img.food_icon {
    height: var(--my-sizeOuter);
    width: var(--my-sizeOuter);
    margin: var(--my-margin);
}

i.food_icon {
    font-size: var(--my-sizeOuter);
    color: var(--vegan-brand);
    margin: var(--my-margin);
}

a:hover > i.food_icon {
    cursor: pointer;
    animation: Vibrate 250ms 2;
}

span.food_icon {
    height: var(--my-sizeOuter);
    background-color: var(--vegan-brand);
    color: white;
    margin: var(--my-margin);
    display: flex;
    align-items: center;
    font-size: var(--my-sizeInner);
    padding: var(--my-margin);
    border-radius: 50% / 100%;
}

span.food_icon > p {
    margin: 0 0.5vw 0 0;
    font-size: var(--my-sizeInner) !important;
}

.food_icon:hover {
    cursor: default;
}

p.food_icon {
    display: inline-block;
    background: var(--vegan-brand);
    height: var(--my-sizeOuter);
    width: var(--my-sizeOuter);
    line-height: var(--my-sizeOuter);
    color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin: var(--my-margin);
    font-size: var(--my-sizeSmallest) !important;
}

.vertical-line {
    border-left: 1px solid var(--vegan-brand);
}

#instrucitons-icons {
    background-color: rgba(255, 255, 255, 0.8);
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    #instrucitons-icons {
        height: 20vh;
    }
 }

#instrucitons-main {
    overflow-y: auto;
}

img {
    width: 100%;
    margin-bottom: 1rem;
    height: auto;
}

h6 {
    font-size: 1rem !important;
}


/* Responsiveness */
@media screen and (max-width: 600px) {
    * {
        --my-margin: 2vw;
    }
}

@media screen and (min-width: 800px) {
    #summary, #ingredients {
        max-width: 40vw;
    }
    * {
        --my-margin: 1vw;
        --my-sizeOuter: 2.5vw;
        --my-sizeInner: 1.25vw;
        --my-sizeSmallest: 1vw;
    }
}

@media screen and (max-width: 1200px) {
    h6 {
        font-size: 0.75rem !important;
    }
}