<div *ngIf="recipeInstructions$ | async as recipeInstructions; else spinner" class="d-flex flex-column flex-grow-1">

  <!-- Icons -->
  <div id="instrucitons-icons" class="d-flex flex-row justify-content-between align-items-center">
    <div style="display: inherit;">
      <!-- Diet Icons -->
      <img tooltip="Vegan" [delay]="500" *ngIf="recipeInstructions.vegan" class="food_icon" src="../../../assets/Images/icons/icon_vegan.png" alt="vegan icon">
      <img tooltip="Gluten Free" [delay]="500" *ngIf="recipeInstructions.glutenFree" class="food_icon" src="../../../assets/Images/icons/icon_gf.svg" alt="vegan icon">
      <p tooltip="Health Score %" [delay]="500" *ngIf="recipeInstructions.healthScore" class="food_icon">{{recipeInstructions.healthScore}}</p>
      <div class="vertical-line my-2"></div>
      <!-- Info Icons -->
      <span tooltip="Prep Time" [delay]="500" *ngIf="recipeInstructions.preparationMinutes" class="food_icon">
        <p>{{recipeInstructions.preparationMinutes}}</p>
        <i class="far fa-clock"></i>
      </span>
      <span tooltip="Cook Time" [delay]="500" *ngIf="recipeInstructions.cookingMinutes" class="food_icon">
        <p>{{recipeInstructions.cookingMinutes}}</p>
        <i class="far fa-clock"></i>
      </span>
      <span tooltip="Serves {{recipeInstructions.servings}}" [delay]="500" *ngIf="recipeInstructions.servings" class="food_icon">
        <p>{{recipeInstructions.servings}}</p>
        <i class="fas fa-utensil-spoon"></i>
      </span>
      <div class="vertical-line my-2"></div>
    </div>
    <!-- Back Btn -->
    <div style="display: inherit;">
      <a tooltip="Recipes" [delay]="500" routerLink="/recipes"><i class="fas fa-reply food_icon"></i></a>
    </div>
  </div>
  
  <!-- Main -->
  <div id="instrucitons-main" class="d-flex flex-column">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-start">
        <!-- Summary -->
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-6 m-5 p-3 bg-light rounded" id="summary">
          <h3>{{recipeInstructions.title}}</h3>
          <div>
            <img [hidden]="hideImage" (load)="hideImage = false" src="{{recipeInstructions.image}}" alt="{{recipeInstructions.title}}">
            <div *ngIf="hideImage" class="d-flex align-items-center justify-content-center w-100 h-100">
              <i class="fas fa-spinner"></i>
            </div>
          </div>
          <div class="d-flex">
            <h6 class="mr-3" *ngIf="recipeInstructions.servings">Servings: {{recipeInstructions.servings}}</h6>
            <h6 class="mr-3" *ngIf="recipeInstructions.preparationMinutes">Prep Time: {{recipeInstructions.preparationMinutes}} mins</h6>
            <h6 *ngIf="recipeInstructions.cookingMinutes">Cooking Time: {{recipeInstructions.cookingMinutes}}m</h6>
          </div>
          <p class="m-2" [innerHTML]="recipeInstructions.summary"></p>
        </div>

        <!-- Ingredients -->
        <div class="col-sm-10 col-md-10 co-lg-10 col-xl-3 m-5 p-3 bg-light rounded" id="ingredients">
          <h3>Ingredients</h3>
          <ul class="list-group list-group-flush">
            <app-ingredient *ngFor="let ingredient of recipeInstructions.extendedIngredients" [ingredient]="ingredient"></app-ingredient>
          </ul>
        </div>
      </div>
    </div>

    <!-- Instructions -->
    <div class="m-5 p-3 bg-light rounded">
      <h3>Instructions</h3>
      <app-spinner #instructionsSpinner [delay]="5000" [visible]="(recipeInstructions.analyzedInstructions?.length > 0)" [message]="'Instructions may not be available for this recipe.'">
        <ng-container *ngIf="instructionsSpinner.visible">
          <p class="m-2" [innerHTML]="recipeInstructions.instructions"></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let step of recipeInstructions.analyzedInstructions[0].steps">{{step.number}}: {{step.step}}</li>
          </ul>
        </ng-container>
      </app-spinner>
    </div>
  </div>
</div>
<ng-template #spinner>
  <div class="d-flex align-items-center justify-content-center w-100 h-100">
    <i class="fas fa-spinner"></i>
  </div>
</ng-template>