:root {
    --vegan-background: #FEFEFE;
    --vegan-foreground: #BABABA;
    --vegan-brand: rgb(6, 160, 6);
}

* {
    font-family: 'Bitter', serif;
}

.vegan {
    color: var(--vegan-foreground);
}

nav.vegan {
    background: var(--vegan-background);
    color: var(--veagn-foreground);
}

a.vegan {
    color: var(--vegan-foreground);
}

a.vegan:hover {
    text-decoration: none;
}

.vegan-brand {
    color: var(--vegan-brand);
    font-family: 'Bitter', serif;
    font-size: 5vh;
}

.vegan-brand:hover {
    text-decoration: none;
}

html, body, app-root {
    height: 100%;
}

a, h1, h2, h3, h4, h5, h6 {
    color: var(--vegan-brand);
}
a:hover {
    color: var(--vegan-brand);
    text-decoration: none;
}


.btn:hover {
    animation: Vibrate 250ms 2;
}

app-landing{
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

app-instructions {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    overflow: auto;
    background: url('./assets/Images/instructions_background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

app-recipe-card {
    display: flex;
    justify-items: stretch;
}

app-recipes {
    overflow: auto;
    background: url('./assets/Images/landing_image.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-grow: 1;
}

/* Animations */
@keyframes Vibrate {
    25%, 75% {
        transform: rotate(2.5deg);
    }
    50%, 100% {
        transform: rotate(-2.5deg);
    }
}

@keyframes Spinner {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Responsiveness */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 6vw !important;
    }
    h3 {
        font-size: 5vw !important;
    }
    h4 {
        font-size: 4vw !important;
    }
    p, li {
        font-size: 3vw !important;
    }
    .vegan-brand {
        font-size: 3vh;
    }
}