:root {
    --vegan-background: #FEFEFE;
    --vegan-foreground: #BABABA;
    --vegan-brand: rgb(6, 160, 6);
}

* {
    font-family: 'Bitter', serif;
}

.vegan {
    color: var(--vegan-foreground);
}

nav.vegan {
    background: var(--vegan-background);
    color: var(--veagn-foreground);
}

a.vegan {
    color: var(--vegan-foreground);
}

a.vegan:hover {
    text-decoration: none;
}

.vegan-brand {
    color: var(--vegan-brand);
    font-family: 'Bitter', serif;
    font-size: 5vh;
}

.vegan-brand:hover {
    color: var(--vegan-brand);
    text-decoration: none;
}

html, body, app-root {
    height: 100%;
}

a {
    color: var(--vegan-brand);
}
a:hover {
    color: var(--vegan-brand);
}

app-landing {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

app-recipe-card {
    display: flex;
    justify-items: stretch;
}

app-recipes {
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 6vw !important;
    }
    h3 {
        font-size: 5vw !important;
    }
    h4 {
        font-size: 4vw !important;
    }
    p {
        font-size: 4vw !important;
    }
    .vegan-brand {
        font-size: 3vh;
    }
}