html, body {
    height: 100%;
}

app-landing {
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 6vw !important;
    }
    h3 {
        font-size: 5vw !important;
    }
    h4 {
        font-size: 4vw !important;
    }
    p {
        font-size: 4vw !important;
    }
}